
* {
	box-sizing: border-box;
}

body {
	color: hsl(192, 100%, 9%);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15em;
	margin: 0;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

p {
	opacity: 0.6;
}

img {
	max-width: 100%;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}


.flex {
	display: flex;
	align-items: center;
}

.flex > div,
.flex > ul {
	flex: 1;
}

header {
	background-image: url('./images/background.jpg');
	background-size: cover;
	background-position: center center;
	background-color: hsl(193, 100%, 96%);
	padding: 40px 0;
}

.box {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	margin: 40px 0;
	padding: 60px;
}

main {
	/* background-image: url('./images/slate-textured-dark-background/background_slate.jpg'); */
	background-color: antiquewhite;
}