
* {
	box-sizing: border-box;
}

body {
	color: hsl(192, 100%, 9%);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15em;
	margin: 0;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}

h1,
h2 {
	font-family: 'Poppins', sans-serif;
}

p {
	opacity: 0.6;
}

img {
	max-width: 100%;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}


.flex {
	display: flex;
	align-items: center;
}